<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <p class="video-description">local:</p>
    <video #local_video [autoplay]="true" [muted]="true"></video>
  </mat-grid-tile>
  <mat-grid-tile>
    <p class="video-description">remote:</p>
    <video #received_video [autoplay]="true"></video>
  </mat-grid-tile>
</mat-grid-list>
<button mat-raised-button color="primary" (click)="startLocalVideo()" [disabled]="localVideoActive">Start Local</button>
<button mat-raised-button color="primary" (click)="pauseLocalVideo()" [disabled]="!localVideoActive">Stop Local</button>
<button mat-raised-button color="primary" (click)="call()" [disabled]="inCall || !localVideoActive">Call</button>
<button mat-raised-button color="primary" (click)="hangUp()" [disabled]="!inCall">HangUp</button>
